
CREATE TABLE IF NOT EXISTS downtime_configs (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    reason TEXT NOT NULL UNIQUE,
    threshold_minutes INTEGER NOT NULL DEFAULT 15,
    machine_type TEXT DEFAULT 'Geral',
    is_active BOOLEAN DEFAULT true,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now())
);

-- Migrar estados atuais para a tabela
INSERT INTO downtime_configs (reason, threshold_minutes) VALUES
('Enrosco de fio', 15),
('Falha no sensor', 10),
('Quebra fio', 20),
('Setup', 180),
('Lubrificação', 10),
('Limpeza de eletrodos', 15),
('Limpar eletrodos', 15),
('Limpeza', 15),
('Manutenção', 60),
('Mecanica', 60),
('Eletrica', 60),
('Outros', 15),
('Preparação', 15)
ON CONFLICT (reason) DO NOTHING;

